@model IEnumerable<InstaSharp.Models.Media>

@{
    ViewBag.Title = "My Feed";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Feed</title>
</head>
<body>


    @foreach (var item in Model)
    {
        if (item.Location != null)
        {
            <div>
                <center>
                    <img src="@item.Images.StandardResolution.Url" />
                    <br />
                    @item.Location.Name - (@item.Location.Latitude Latitude, @item.Location.Longitude Longitude)
                </center>
            </div>
        }
        else
        {
            <div>
                <center><img src="@item.Images.StandardResolution.Url" /></center>
            </div>
        }

    }

</body>
</html>
