@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>
@{
    ViewBag.Title = "My Posts";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Posts</title>
</head>
<body>

    <br />
    @foreach (var item in Model)
    {
        if (item.Location != null)
        {
            <div class=".col-md-4">
                <center>
                    <table border="0" width="400" cellpadding="10" cellspacing="0">
                        <tr>
                            <td width="50">
                                Posted:
                            </td>
                            <td width="250">
                                <b>@item.CreatedTime.AddHours(-4)</b>
                            </td>
                            <td width="50">
                                Location:
                            </td>
                            <td width="220">
                                <b>@item.Location</b> @(item.Distance > 0 ? String.Format("<br>{0} Miles Away", item.Distance) : "")
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @if (string.IsNullOrWhiteSpace(item.VideoUrl))
                                {
                                    <img src="@item.StandardResolutionUrl" width="400" />
                                }
                                else
                                {

                                    <style>
                                        .image-wrap {
                                            position: relative;
                                            display: inline-block;
                                        }

                                        .play-button {
                                            position: absolute;
                                            width: 60px;
                                            height: 60px;
                                            background-color: rgba(0,0,0,0.25);
                                            border-radius: 100%;
                                            top: 50%;
                                            left: 50%;
                                            margin: -30px 0 0 -30px;
                                            cursor: pointer;
                                        }

                                            .play-button:after {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                left: 22px;
                                                top: 10px;
                                                border-width: 20px;
                                                border-style: solid;
                                                border-color: transparent transparent transparent white;
                                            }

                                            .play-button:hover {
                                                background-color: black;
                                            }
                                    </style>
                                    <div class="image-wrap">
                                        <a href="@item.VideoUrl" class="html5lightbox" data-width="400" data-height="400" title="@item.Username">
                                            <img src="@item.StandardResolutionUrl" width="400" />
                                            <div class="play-button"></div>
                                        </a>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <br />
                </center>
            </div>
        }
        else
        {
            <div class=".col-md-4">
                <center>
                    <table border="0" width="400" cellpadding="10" cellspacing="0">
                        <tr>
                            <td width="100">
                                Posted:
                            </td>
                            <td width="200">
                                <b>@item.CreatedTime.AddHours(-4)</b>

                            </td>
                            <td width="100">
                                &nbsp;
                            </td>
                            <td width="200">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                @if (string.IsNullOrWhiteSpace(item.VideoUrl))
                                {
                                    <img src="@item.StandardResolutionUrl" width="400" />
                                }
                                else
                                {

                                    <style>
                                        .image-wrap {
                                            position: relative;
                                            display: inline-block;
                                        }

                                        .play-button {
                                            position: absolute;
                                            width: 60px;
                                            height: 60px;
                                            background-color: rgba(0,0,0,0.25);
                                            border-radius: 100%;
                                            top: 50%;
                                            left: 50%;
                                            margin: -30px 0 0 -30px;
                                            cursor: pointer;
                                        }

                                            .play-button:after {
                                                content: '';
                                                display: block;
                                                position: absolute;
                                                left: 22px;
                                                top: 10px;
                                                border-width: 20px;
                                                border-style: solid;
                                                border-color: transparent transparent transparent white;
                                            }

                                            .play-button:hover {
                                                background-color: black;
                                            }
                                    </style>
                                    <div class="image-wrap">
                                        <a href="@item.VideoUrl" class="html5lightbox" data-width="400" data-height="400" title="@item.Username">
                                            <img src="@item.StandardResolutionUrl" width="400" />
                                            <div class="play-button"></div>
                                        </a>
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    <br />
                </center>
            </div>
        }

    }

</body>
</html>
