@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>

@{ Layout = null; }

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class=".col-md-4">
            <center>
                <table border="0" width="600" cellpadding="10" cellspacing="0">
                    <tr> 
                        <td width="100">
                            <img src="@item.ProfilePictureUrl" width="100" />
                        </td>
                        <td width="100">
                            User Name: 
                            <br />
                            Full Name:
                            <br />
                            Posted:
                        </td>
                        <td width="200">
                            <b>@item.Username</b>
                            <br />
                            <b>@item.FullName</b>
                            <br />
                            <b>@item.CreatedTime.AddHours(-4)</b>
                        </td>
                        <td width="200">
                            Location: <b>@item.Location</b>
                            <br />
                            @item.Distance Miles Away
                            <br />
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img src="@item.StandardResolutionUrl" width="600" />
                        </td>
                    </tr>
                </table>
                <br />                
            </center>
        </div>

    }
}
else
{
    <div>
        <center>
            Your Browser Has GeoLocation Disabled...
        </center>
    </div>
}
