
@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>

@{ Layout = null; }

@foreach (var item in Model)
{

    <div>
        <center>
            <img src="@item.StandardResolutionUrl" />
            <br />
            <b>@item.Username - @item.FullName - @item.Location</b>
            <br />
            @item.Distance Miles Away - Created at @item.CreatedTime.AddHours(-4);
        </center>
    </div>

}
