@model IEnumerable<InstaSharp.Models.Media>

@{
    ViewBag.Title = "Who Is Near";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Who Is Near</title>
</head>
<body>
    <script>
        if (navigator.geolocation) {
            //alert("Geo-Enabled");
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }

        function showPosition(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            $.ajax({
                url: '@Html.Raw(Url.Action("WhoIsNear2","Home"))',
                type: 'POST',
                alert: (lat),
                data: {
                    latitude: lat,
                    longitude: lon
                },
                success: function (data) {
                    $('#content').html(data);
                }


            });



        }
        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("Unable to display accurate weather forcast, location denied.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    </script>

    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div>
                <center>
                    <img src="@item.User.ProfilePicture" />
                    <br />
                    @item.User.Username - @item.User.FullName - @item.Location.Name
                    <br />
                    (@item.Location.Latitude Latitude) - (@item.Location.Longitude Longitude)
                    <br />
                    @item.CreatedTime.AddHours(-4);
                </center>
            </div>

        }
    }

    <div id="content">
        @Html.Partial("WhoIsNear2", Model)
    </div>
</body>
</html>
