@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>

@{ Layout = null; }

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class=".col-md-4">
            <center>
                <table border="0" width="400" cellpadding="4" cellspacing="0">
                    <tr>
                        <td width="50">
                            <p style="font-size:8pt;">
                                User Name:
                                <br />
                                Full Name:
                                <br />
                                Posted:
                            </p>
                        </td>
                        <td width="150">
                            <p style="font-size:8pt;">
                                <b>@item.Username</b>
                                <br />
                                <b>@item.FullName</b>
                                <br />
                                <b>@item.CreatedTime.AddHours(-4)</b>
                            </p>
                        </td>
                        <td width="200">
                            <p style="font-size:8pt;">
                                Location: <b>@item.Location</b>
                                <br />
                                @item.Distance Miles Away
                                <br />
                                &nbsp;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <img src="@item.ProfilePictureUrl" width="400" />
                        </td>
                    </tr>
                </table>
                <br />
            </center>
        </div>

    }
}
else
{
    <div>
        <center>
            Your Browser Has GeoLocation Disabled...
        </center>
    </div>
}
